body {
  background-color: rgb(32, 31, 34);
}
#p2 {
  color: rgb(171, 150, 181);
}
#p1 {
  color: rgb(0, 255, 34);
}
#p4 {
  color: brown;
}
#p3 {
  color: antiquewhite;
}
.new {
  color: goldenrod;
}
* {
  font-size: 18px;
}
